.mainWrapper {
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.weatherPanel {
  background-color: #e9e9e9;
  width: 900px;
  padding: 45px;
  border-radius: 20px;
}

.headerName {
  margin: 0;
  margin-bottom: 55px;
  font-size: 60px;
  text-align: center;
}

.searchLine {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cityField {
  flex: 1;
  padding: 20px;
  border: 2px solid #aaa;
  border-radius: 12px;
  font-size: 28px;
}

.searchButton {
  background-color: black;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 12px;
  font-size: 28px;
}

.startMessage {
  margin-top: 35px;
  font-size: 26px;
  color: #393939;
}

.weatherBlock {
  margin-top: 60px;
  text-align: center;
}

.degreeNumber {
  font-size: 70px;
  margin: 20px 0;
}
